name: Build and Push Orpheus Image to Docker Hub

on:
    push:
      branches: [main]

jobs:
    build-and-push:
        name: Build and Push Orpheus Image to Docker Hub
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                fetch-depth: 0 

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and Push Orpheus Image to Docker Hub
              run: |
                docker build --platform linux/amd64 -f Dockerfile.orpheus -t ${{ secrets.ORPHEUS_DOCKER_REPO }}:${{ secrets.DOCKER_TAG }} .
                docker push ${{ secrets.ORPHEUS_DOCKER_REPO }}:${{ secrets.DOCKER_TAG }}
